<div class="main-home main-page">
	<div class="sec-1 strip-banner">
		<p>Find Your Plant Match 🌱</p>
	</div>
	<div class="sec-2">
		<div class="content">
			<p class="sub-head">PLANTS AND GARDENING</p>
			<h3 class="main-head">Air Purifying</h3>
			<p>We bring you closer to nature by delivering indoor plants, outdoor plants, plant pots, accessories, and seeds</p>
			<button class="bttn-secondary">SHOP NOW</button>
		</div>
	</div>
	<div class="sec-3">
		<div class="inner-wrap services">
			<div class="service">
				<img src="../../../assets/service1.jpg" alt="service" />
				<h5>24/7 FRIENDLY SUPPORT</h5>
				<p>Our support team always ready for you</p>
			</div>
			<div class="service">
				<img src="../../../assets/service2.jpg" alt="service" />
				<h5>FREE SHIPPING</h5>
				<p>Free worldwide shipping on all area</p>
			</div>
			<div class="service">
				<img src="../../../assets/service3.jpg" alt="service" />
				<h5>7 DAYS EASY RETURN</h5>
				<p>Product any fault within 7 days for an</p>
			</div>
			<div class="service">
				<img src="../../../assets/service4.jpg" alt="service" />
				<h5>QUALITY GUARANTEED</h5>
				<p>If your product aren't perfect, return them for a full Refund</p>
			</div>
		</div>
	</div>
	<div class="sec-4">
		<div class="inner-wrap">
			<div class="head">
				<h4 class="main-head">Hot Deal</h4>
				<p class="sub-title">Don't Miss Today's Featured Deals</p>
			</div>
			<div class="content">
				<div class="product-wrap">
					<div class="product-card large">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="orignal-price">$40.00</span>
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card large">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Select Options"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Overview"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Favorite"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card large">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-5">
		<div class="inner-wrap">
			<div class="head">
				<h4 class="main-head">Categories</h4>
				<p class="sub-title">Explore our product range with Categories</p>
			</div>
			<div class="content">
				<div class="category-group">
					<div class="category-card">
						<img src="../../../assets/instagram2.jpg" alt="">
						<span>Category One</span>
					</div>
					<div class="category-card">
						<img src="../../../assets/instagram4.jpg" alt="">
						<span>Category two</span>
					</div>
					<div class="category-card">
						<img src="../../../assets/instagram6.jpg" alt="">
						<span>Category Three</span>
					</div>
					<div class="category-card">
						<img src="../../../assets/instagram7.jpg" alt="">
						<span>Category Four</span>
					</div>
					<div class="category-card">
						<img src="../../../assets/instagram2.jpg" alt="">
						<span>Category Five</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-6">
		<div class="inner-wrap">
			<div class="banner-group">
				<div class="main-banner">
					<div class="banner-background">
						<img src="../../../assets/banner8.3.jpg" alt="" />
					</div>
					<div class="banner-content">
						<span class="sub-title">Weekly Offer</span>
						<h5 class="title">Get 50% off on selected Items</h5>
						<button class="bttn-secondary">Shop Now</button>
					</div>
				</div>
				<div class="main-banner">
					<div class="banner-background">
						<img src="../../../assets/banner8.4.jpg" alt="" />
					</div>
					<div class="banner-content">
						<span class="sub-title">Weekly Offer</span>
						<h5 class="title">Get 50% off on selected Items</h5>
						<button class="bttn-secondary">Shop Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-7 shop-list">
		<div class="inner-wrap">
			<div class="head">
				<h4 class="main-head">Shop</h4>
				<p class="sub-title">Shop our wide range of collection</p>
			</div>
			<div class="content">
				<div class="product-wrap">
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="orignal-price">$40.00</span>
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Select Options"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Overview"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Favorite"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Select Options"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Overview"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Favorite"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="orignal-price">$40.00</span>
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Select Options"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Overview"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button" matTooltipPosition="above" matTooltip="Favorite"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
					<div class="product-card medium">
						<div class="main">
							<div class="product-image">
								<a>
									<img src="../../../assets/9.1.jpg" class="main-img" alt="" />
									<img src="../../../assets/9.3.jpg" class="secondary-img" alt="" />
								</a>
								<ul>
									<li>
										<button class="icon-round-button"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="search-outline"></ion-icon></button>
									</li>
									<li>
										<button class="icon-round-button"><ion-icon name="heart-outline"></ion-icon></button>
									</li>
								</ul>
							</div>
							<h5 class="title-product">Dracaena Cintho</h5>
							<p class="price-product">
								<span class="sale-price">
									$30.00
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-8 instagran-section">
		<div class="inner-wrap">
			<div class="head">
				<h3 class="main-head">Instagram Shop</h3>
			</div>
			<div class="content">
				<div class="gallery">
					<div class="picture">
						<a>
							<img src="../../../assets/instagram2.jpg" alt="" />
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</div>
					<div class="picture">
						<a>
							<img src="../../../assets/instagram4.jpg" alt="" />
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</div>
					<div class="picture">
						<a>
							<img src="../../../assets/instagram5.jpg" alt="" />
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</div>
					<div class="picture">
						<a>
							<img src="../../../assets/instagram6.jpg" alt="" />
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</div>
					<div class="picture">
						<a>
							<img src="../../../assets/instagram7.jpg" alt="" />
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</div>
					<div class="picture">
						<a>
							<img src="../../../assets/instagram2.jpg" alt="" />
							<ion-icon name="logo-instagram"></ion-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-9 news-letter">
		<div class="inner-wrap">
			<div class="head">
				<h4 class="main-head">News Letter</h4>
				<p class="sub-title">Subscribe to Our news letter to get more updates</p>
			</div>
			<div class="content">
				<div class="news-letter-wrap">
					<input type="text" placeholder="Enter your Email here..">
					<button>Subscribe</button>
				</div>
			</div>
		</div>
	</div>
</div>
