:root{

--app-main : #006f74;
--app-main-contrast : #fff;
--app-main-secondary:#343434;  
--app-main-secondary-step-50:#707070;  

--app-font: "Jost", sans-serif;
--app-font-secondary: 'Marcellus', serif;
}