<div class="main-footer">
	<div class="footer-top">
		<div class="column logo-section">
			<a class="logo">
				<img src="../../../assets/logo_florasy.jpg" alt="logo" />
			</a>
			<p>
				Sophisticated simplicity for the independent mind.
			</p>
			<div class="social-links">
				<ion-icon name="logo-facebook"></ion-icon>
				<ion-icon name="logo-instagram"></ion-icon>
				<ion-icon name="logo-twitter"></ion-icon>
				<ion-icon name="logo-pinterest"></ion-icon>
				<ion-icon name="logo-youtube"></ion-icon>
			</div>
		</div>
		<div class="column">
			<p class="link-header">Help & Information</p>
			<a class="link">Link</a>
			<a class="link">Link</a>
			<a class="link">Link</a>
			<a class="link">Link</a>
		</div>
		<div class="column">
			<p class="link-header">About Us</p>
			<a class="link">About Us</a>
			<a class="link">Privacy Policy</a>
			<a class="link">Contact Us</a>
			<a class="link">Return Policy</a>
		</div>
		<div class="column">
			<p class="link-header">Categories</p>
			<a class="link">House plants</a>
			<a class="link">Office plants</a>
			<a class="link">House plants</a>
			<a class="link">Plant pot</a>
		</div>
	</div>
	<div class="footer-bottom">
		<p>© Copyright 2022 | FlorasyStore By <a>Yawar Rasul</a>.</p>
	</div>
</div>
