.main-header-desk {
  padding: 15px 25px;
  box-shadow: -1px 3px 8px 2px #8c8c8c40;
  // position: fixed;
  // width: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
  // margin-bottom: 100px;
  background-color: #fff;
  z-index: 999;
  color: var(--app-main-secondary);
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      a {
        img {
          width: 140px;
        }
      }
    }
    .navs-menu {
      display: flex;
      .nav-link {
        margin: 0 20px;
        font-weight: 400;
		    color: var(--app-main-secondary);
        font-size: 18px;
        position: relative;
        transition: all ease-in-out 0.2s;
        padding: 10px 0;
        &:hover {
          transition: all ease-in-out 0.2s;
          padding: 0;
          color: var(--app-main);
          &::after {
            content: "";
            width: 0%;
            height: 26px;
            position: absolute;
            margin-left: -100%;
            transition: all ease-in-out 0.2s;
            border-bottom: 1px solid var(--app-main);
            animation: slide 0.5s forwards;
            animation-delay: 0.2s;
          }
        }
      }
    }
    .bttn-grp {
      a {
		margin-left: 15px;
		color: var(--app-main-secondary-step-50);
		font-size: 25px;
		&:hover{
			color: var(--app-main);
		}
      }
    }
  }
}

@keyframes slide {
  100% {
    width: 100%;
  }
}
